@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

@theme {
  --color-brand-light: #FBFDFD;
  --color-brand-dark: #0F0F0F;
}

.video-plus-darker {
  mix-blend-mode: normal !important;
}

.app-hero-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .app-hero-wrapper {
    min-height: auto;
    height: 100vh;
  }
}

/* Custom transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
